@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    font-family: 'Space Grotesk', sans-serif;
    text-transform: capitalize;
}
.mobile-view {
    display: none;
}
.desktop-view {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputs-desktop {
    width: 27%;
    margin-right: 20vw;
    margin-top: -50px;
}
::placeholder {
    /* padding-left: 20px; */
    font-size: 17px;
    font-weight: 500;
}
   .inputs-desktop .name-div-desktop, .card-number-div-desktop {
    display: flex;
    flex-direction: column;
   }
   .inputs-desktop input {
    height: 40px;
    font-size: 17px;
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    color: hsl(270, 1%, 65%);
    border: 2px solid hsl(270, 3%, 87%);
   }
    .inputs-desktop label {
        text-transform: uppercase;
        margin-bottom: 7px;
    }
    .expire-date-desktop {
        display: block;
        position: relative;
        left: 0;
        top: 10px;
    }
    .expire-date-desktop input {
          width: 90px;
    }
    .button-div-desktop {
        width: 100%;
        display: grid;
        margin-top: 17px;
    }

    .btn-desktop {
        text-transform: capitalize;
        color: #fff;
        background-color: black;
        height: 50px;
        border-radius: 7px;
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
        border: .7px solid black;
        transition: .3s;
    }
    .btn-desktop:hover {
        background-color: #fff;
        color: black;
    }
    
       .card-back-desktop {
        width: 330px;
        height: 200px;
        border-radius: 10px;
        position: absolute;
        left: 23vw;
        background-image: url("./images/bg-card-back.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       }
       .cvv-desktop {
        font-weight: 100 ;
        font-size: 12px;
        color: #fff;
        position: relative;
        top: 85px;
        left: 276px;
       }
       .card-front-desktop {
        width: 330px;
        height: 200px;
        background-image: url("./images/bg-card-front.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        left: 15vw;
        top: 200px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       }
       .card-logo-desktop {
        position: relative;
        top: 16px;
        left: 20px;
       }
       .card-no-desktop, .name-desktop, .expire-date-on-card-desktop {
        color: white;
        position: relative;
        top: 100px;
        margin-left: 20px;
       }
       .card-no-desktop {
        font-size: 20px;
        right: 30px;
    }
       .name-desktop {
        font-weight: 100;
        font-size: 14px;
        left: 34px;
       }
       .expire-date-on-card-desktop {
        left: 210px;
        font-size: 14px;
        margin-top: -18px;
       }

@media only screen and (max-width: 890px) {
   .mobile-view {
    display: grid;
    place-items: center;
   }
  .desktop-view {
    display: none;
  }
   .nav-background {
    width: 100%;
    height: 35vh;
    background-image: url("./images/bg-main-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
   }
   .card-back {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    position: relative;
    left: 10vw;
    background-image: url("./images/bg-card-back.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }
   .cvv {
    font-weight: 100 ;
    font-size: 14px;
    color: #fff;
    position: relative;
    top: 65px;
    left: 200px;
   }
   .card-front {
    width: 270px;
    height: 170px;
    background-image: url("./images/bg-card-front.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 10vw;
    top: 140px;
    border-radius: 10px;
   }
   .card-logo {
    position: relative;
    top: 16px;
    left: 20px;
   }
   .card-no, .name, .expire-date-on-card {
    color: white;
    position: relative;
    top: 70px;
   }
   .card-no {
    font-size: 17px;
    right: 23px;
}
   .name {
    font-weight: 100;
    font-size: 12px;
    left: 40px;
   }
   .expire-date-on-card {
    float: right;
    font-size: 13px;
    margin-right: 40px;
   }
   .inputs {
    margin-top: 70px;
    width: 80%;
   }
   .inputs .name-div, .card-number-div {
    display: flex;
    flex-direction: column;
   }
   .inputs input {
    text-transform: capitalize;
    height: 40px;
    font-size: 17px;
    color: hsl(270, 1%, 65%);
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid hsl(270, 3%, 87%);
   }
    .inputs label {
        text-transform: uppercase;
        margin-bottom: 7px;
    }
    .expire-date {
        display: block;
        position: relative;
        left: 0;
        top: 10px;
    }
    .expire-date input {
          width: 90px;
    }
    .button-div {
        width: 100%;
        display: grid;
        margin-top: 17px;
    }

    .btn {
        text-transform: capitalize;
        color: #fff;
        background-color: black;
        height: 50px;
        border-radius: 7px;
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
        border: .7px solid black;
        transition: .3s;
    }
    .btn:hover {
        background-color: #fff;
        color: black;
    }
}
